// RESETS
// ===================================================
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
  text-decoration: none;
}

// COLORS
// ===================================================

$cardinal: #9e0c0c;
$blk: #111111;
$wht: white;
$bag: #c19a61;

.redTxt{
  color: $cardinal;
}

.redBkg{
  background: $cardinal;
}

.blkTxt{
  color: $blk;
}

.blkBkg{
  background: $blk;
}

.whtTxt{
  color: $wht;
}

.whtBkg{
  background: $wht;
}

.bagTxt{
  color: $bag;
}

.bkgtester{
  background-color: lightgrey;
}
.bkgtester1{
  background-color: darkgrey;
}
.bkgtester2{
  background-color: grey;
}
.bkgtester3{
  background-color: dimgrey;
}



// FONTS
// ===================================================

@import url('https://fonts.googleapis.com/css?family=Kalam|Special+Elite|Walter+Turncoat');

$headlineFont: 'Special Elite', serif;
$paragraphFont: 'Kalam', serif;


h1, h2, h3, h4, h5, h6{
  font-family: $headlineFont;
  color: $blk;
}

h1{
  font-size: 7vw;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.5em;
}

h4{
  font-size: 1.2em;
}

h5{
  font-size: 1em;
}

h6{
  font-size: .8em;
}

p{
  font-family: $paragraphFont;
}

.centerTxt{
  text-align: center;
}

.rightTxt{
  text-align: right;
}

.leftTxt{
  text-align: left;
}

.headlineMargin{
  margin-bottom: 10px;
}

// COMMON ELEMENTS
// ===================================================
.faded{
  opacity: .8;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}
.flexBetween{
  justify-content: space-between;
}

.flexEnd{
  justify-content: flex-end;
}

.flexCenter{
  justify-content: center;
}

.flexWrap{
  flex-wrap: wrap;
}

body{
  background: $blk;
}
.mainContent{
  width: 100%;
  min-height: 100vh;
  background-image: url(../app/images/paperTexture.jpg);
  background-repeat: repeat;
  background-origin: content-box;
  padding: 0;
}

.adminEditor{
  height: 30px;
  width: 30px;
  background-color: $blk;
}

.fullWidth{
  width: 100%;
}

// MODAL COMMON ELEMENTS
// ===================================================

  $modalMin: 400px;
  $modalMinPositioner: 200px;
  
  $modalSmallMin: 320px;
  $modalSmallMinPositioner: 160px;

  
  .backgroundBlocker{
    height: 100%;
    width: 100%;
    background: $blk;
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
  }
  
  .modalBox{
    background: $wht;
    min-height: $modalMin;
    min-width: $modalMin;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$modalMinPositioner;
    margin-left:  -$modalMinPositioner;
    z-index: 30;
    @media(max-width: 400px){
      position: absolute;
      top: 50%;
      left: 50%;
      min-height: $modalSmallMin;
      min-width: $modalSmallMin;
      margin-top: -$modalSmallMinPositioner;
      margin-left: -$modalSmallMinPositioner;
    }
  }

.modalTitle{
  margin: 20px 0 0 0;
}

.modalInputLabel{
  padding: 10px 0 0 0;
}

.modalInput{
  width: 180px;
  height: 30px;
  padding: 2px 0 0 5px;
  margin: 0 20px 0 10px;
  border: 2px solid darkgrey;
  color: $blk;
  &:focus{
    border: 2px solid $blk;
     outline:none;
  }
}
