.contactTopContainer{
  @media (max-width: 700px){
    padding:100px 0 0 0;
}
}

.contactTopContainerHeader{
  width: 100%;
  background: $blk;
}

.contactHeaderTxt{
  padding: 10px 0 0 0;
}

.catering{
  margin: 20px 0 0 0;
}