<div class="container-fluid ">
  <div class="mainContent">
    
    <!-- ========  HEADLINE  ======== -->
    
    <div class="homeHeadline">
      <h1 class="faded">Back Alley Smokehouse</h1>
    </div>
    
    <!-- ========  SLIDESHOW  ======== -->
    
    <div class="container" id="bashCarousel">
      <div class="slideHolder">
        <div class="slide">
          
        </div>
      </div>
    </div>
    
    <!-- ========  CONTENT  ======== -->
    
    <div class="container-fluid faded">
      <div class="row">
      
      <div class="col-sm-4 homeContentBox">
        <div class="homeContentBorderBox">
          <div class="homeContentHeadline">
            <h3>SOUP OF THE DAY</h3>
          </div>
          <div class="homeContentParagraph">
            <h4 class="centerTxt headlineMargin redTxt">Nacho Cheese Surprise</h4>
            <p>Nacho Cheese and Cherry Nerds with Chicken and Dumpling Gravy Train Dog food</p>
          </div>
          <div class="homeContentFooter flexRow flexBetween">
            <div class="adminEditor" ng-show="adminMode"></div>
            <h4 class="homePrice redTxt">$3.25</h4>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4 homeContentBox">
        <div class="homeContentBorderBox">
          <div class="homeContentHeadline">
            <h3>TODAY'S SPECIAL</h3>
          </div>
          <div class="homeContentParagraph">
            <h4 class="centerTxt headlineMargin redTxt">Pig Face</h4>
            <p>Dew Picked and freshly peeled pig face sauteed in duck snot, with your choice of side.</p>
          </div>
          <div class="homeContentFooter flexRow flexBetween">
            <div class="adminEditor" ng-show="adminMode"></div>
            <h4 class="homePrice redTxt">$11.25</h4>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4 homeContentBox">
        <div class="homeContentBorderBox">
          <div class="homeContentHeadline">
          
            <h3>OUR HOURS</h3>
          </div>
          
          <div class="homeSchedule flexRow flexBetween">
            <div class="homeDays flexColumn">
              <p>Monday</p>
              <p>Tuesday</p>
              <p>Wednesday</p>
              <p>Thursday</p>
              <p>Friday</p>
              <p>Saturday</p>
              <p>Closed Sundays</p>
            </div>
            <div class="homeHours flexColumn">
              <p>11am - 8pm</p>
              <p>11am - 8pm</p>
              <p>11am - 8pm</p>
              <p>11am - 8pm</p>
              <p>11am - 9pm</p>
              <p>11am - 9pm</p>
              <div class="adminEditor" ng-show="adminMode"></div>
            </div>
            
          </div>
        </div>
      </div>
      
      </div>
    </div>














  </div>
</div>