<div class="container-fluid ">
  <div class="mainContent">
    

    <div class="menuHolder faded">
      
          <!-- menu sections -->
          
          <div class="menuSection">
            <div class="menuSectionTitle">
              <h2 class="menuSectionTitleTxt centerTxt">From the Smoker</h2>
            </div>
          </div>
          
          
          
          
          
          
          
          
          
          
          
          
          
          
    </div>
    
    
  </div>
</div>