<div class="container-fluid ">
  <div class="mainContent">
    
    <!-- top section -->
    <div class="contactTopContainer container-fluid ">
      <div class="row">
        
        <div class="about col-sm-6 faded">
          <div class="contactTopContainerHeader">
            <h2 class="bagTxt centerTxt contactHeaderTxt">About Us</h2>
          </div>
        </div>
        
        <div class="location col-sm-6">
          <div class="contactTopContainerHeader faded">
            <h2 class="bagTxt centerTxt contactHeaderTxt">Location</h2>
          </div>
        </div>
        
        
        
        
      </div>
      
      </div>
      <!-- catering section -->
      
      
      
      <div class="catering col-sm-12">
        <div class="contactTopContainerHeader faded">
          <h2 class="bagTxt centerTxt contactHeaderTxt">Catering</h2>
        </div>
      </div>
  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  </div>
</div>